In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('C:\Users\Admin\Desktop\mlbootcamp5_train.csv', sep=';', index_col='id')

In [3]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [4]:
val_count = df['gender'].value_counts()
val_count

1    45530
2    24470
Name: gender, dtype: int64

In [5]:
ones = df[df['gender']==1]
one = ones['height'].mean()
one

161.35561168460356

In [6]:
twos = df[df['gender']==2]
two = twos['height'].mean()
two

169.94789538210054

In [7]:
if two>one:
    sex = {'Male':2,'Female':1}
else:
    sex = {'Male':1,'Female':2}

In [8]:
sex

{'Female': 1, 'Male': 2}

## 1

In [9]:
def answer_one(one,two,val_count):
    print('{} males, {} females'.format(val_count[sex['Male']], val_count[sex['Female']]))

In [10]:
answer_one(one,two,val_count)

24470 males, 45530 females

## 2

In [11]:
male = df['gender']==sex['Male']
female = df['gender']==sex['Female']

def answer_two():
    male_alco = df[male]['alco'].mean()
    female_alco = df[female]['alco'].mean()
    if male_alco>female_alco:
        print('men')
    else:
        print('women')

In [12]:
answer_two()

men

## 3

In [13]:
def answer_three():
    difference = df[male]['smoke'].mean()/df[female]['smoke'].mean()
    return round(difference)

In [14]:
answer_three()

12.0

## 4

In [15]:
def answer_four(df):
    smokey = df[df['smoke']==1]['age'].median()
    healthy = df[df['smoke']==0]['age'].median()
    difference = healthy-smokey
    return round(abs(difference)/30.5)

In [16]:
answer_four(df)

20.0

## 5

In [17]:
def answer_five(df):
    df['age_years'] = df['age']/365
    df['age_years'] = df['age_years'].astype(int)
    mask = (df['age_years']>=60)&(df['age_years']<=64)&(df['smoke']==1)&male
    old_farts = df[mask]
    
    first_group = (old_farts['cholesterol']==1)&(old_farts['ap_hi']<120)
    second_group = (old_farts['cholesterol']==3)&(old_farts['ap_hi']<180)&(old_farts['ap_hi']>=160)
    first_cardiac = first_group&(old_farts['cardio']==1)
    second_cardiac = second_group&(old_farts['cardio']==1)
    
    f_pct = float(first_cardiac.value_counts()[True])/first_group.value_counts()[True]
    s_pct = float(second_cardiac.value_counts()[True])/second_group.value_counts()[True]
    return round(s_pct/f_pct)

In [18]:
answer_five(df)

3.0

## 6

In [19]:
def answer_six(df):
    df['height_mtr'] = df['height']/100
    df['BMI']=df['weight']/(df['height_mtr']*df['height_mtr'])
    median_bmi = df['BMI'].median()
    print(median_bmi)
    if median_bmi>=18.5 and median_bmi<=25:
        print(' >common median is in normal range')
    else:
        print(' >what is it, a fatty party?')
        
    female_bmi = df[female]['BMI'].mean()
    male_bmi = df[male]['BMI'].mean()
    print('{} female, {} male'.format(female_bmi, male_bmi))
    if female_bmi > male_bmi:
        print(' >did you just assumed my weight identity?')
    else:
        print(' >get rid of your manboobs, dude')
    
    cardiac = df[df['cardio']==1]['BMI'].mean()
    healthy = df[df['cardio']==0]['BMI'].mean()
    print('{} cardiac, {} healthy'.format(cardiac, healthy))
    if(cardiac>healthy):
        print(' >fat is bad')
    else:
        print(' >fatter the merrier')
    
    mask_female = female&(df['cardio']==0)&(df['smoke']==0)
    mask_male = male&(df['cardio']==0)&(df['smoke']==0)
    m_bmi = df[mask_male]['BMI'].mean()
    f_bmi = df[mask_female]['BMI'].mean()
    print('{} male, {} female'.format(m_bmi, f_bmi))
    print(' >i\'ve got big bottom females')

In [20]:
answer_six(df)

26.3740681208
 >what is it, a fatty party?
27.9875834418 female, 26.7544423573 male
 >did you just assumed my weight identity?
28.566060627 cardiac, 26.5481752068 healthy
 >fat is bad
25.9276690188 male, 26.8872170959 female
 >i've got big bottom females

## 7

In [21]:
def answer_seven(df):
    w_min = df['weight'].quantile(0.025)
    w_max = df['weight'].quantile(0.975)
    h_min = df['height'].quantile(0.025)
    h_max = df['height'].quantile(0.975)
    mask = (df['weight']>=w_min)&(df['weight']<=w_max)&(df['height']>=h_min)&(df['height']<=h_max)&(df['ap_hi']>=df['ap_lo'])
    values = mask.value_counts(normalize=True)
    percent = values[False]
    return round(percent*100)

In [22]:
answer_seven(df)

10.0